.users {
  background-color: #fff;
  margin: 2rem auto;
  max-width: 30%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users ul {
  list-style: none;
  padding: 1rem;
  width: 90%;
}

.users li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
